:root.theme-dark {
  --color-text: #F1B2CE;
  --color-title: #DB00FF;
  --color-bg: #000028;
  --color-accent: #FF0070;
  --color-focus: #FF0070;
  --color-shadow: #FF0070;
  --bg-image: url('../images/cover-image-dark.png');
  --hover-button: rgba(255, 0, 112, 0.4);
}