:root.theme-light {
  --color-text: #353430;
  --color-title: #ffc2e6;
  --color-bg: #fff1f7;
  --color-accent: #ff8dcb;
  --color-focus: #353430;
  --header-image: url("../images/cover-image-light.png");
}

@media (prefers-color-scheme: light) {
  :root {
    --color-text: #353430;
    --color-title: #ffc2e6;
    --color-bg: #fff1f7;
    --color-accent: #ff8dcb;
    --color-focus: #353430;
    --header-image: url("../images/cover-image-light.png");
  }
}
