:root.theme-light {
  --color-text: #353430;
  --color-title: #ffc2e6;
  --color-bg: #fff1f7;
  --color-decoration: #ff8dcb;
  --color-text-sub: #353430;
  --color-accent: #353430;
  --color-focus: #353430;
  --bg-image: url(../images/cover-image-light.png);
  --color-shadow: #ff8dcb;
  --hover-button: rgba(50, 49, 45, 0.4);
}
.theme-light .header__rec {
  display: none;
}

@media (prefers-color-scheme: light) {
  :root {
    --color-text: #353430;
    --color-title: #ffc2e6;
    --color-bg: #fff1f7;
    --color-decoration: #ff8dcb;
    --color-text-sub: #353430;
    --color-accent: #353430;
    --color-focus: #353430;
    --bg-image: url(../images/cover-image-light.png);
    --color-shadow: #ff8dcb;
    --hover-button: rgba(50, 49, 45, 0.4);
  }

  .header__rec {
    display: none;
  }
}
