.page {
  background-color: var(--color-bg);
  color: var(--color-text);
  font-size: var(--font-size);
  line-height: var(--line-height);
  background-image: var(--bg-image);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  font-family: var(--font-family);
}

.header {
  position: relative;
  height: 100vh;
  min-height: 668px;
  padding: 10px;
  display: grid;
  align-items: center;
  justify-items: end;
  grid-template-rows: 1fr min-content 1fr;
}

.header__rec {
  position: absolute;
  top: 10px;
  right: 38px;
  color: var(--color-accent);
}

.header__rec::after {
  content: "";
  position: absolute;
  top: 8px;
  right: 0;
  width: 10px;
  height: 10px;
  background-color: var(--color-accent);
  border-radius: 50%;
  box-shadow: 0 0 4px 2px var(--color-accent);
  margin-right: -20px;
}

.header__title {
  color: var(--color-title);
  font-size: var(--title-heading);
  font-weight: 700;
  text-shadow: 4px 4px 0 var(--color-shadow);
  line-height: 83%;
  justify-self: start;
}

.text-decor {
  color: var(--color-text-sub);
  background-color: var(--color-decoration);
}

.header__subtitle {
  font-weight: 700;
  line-height: 23px;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.header__theme-menu-button {
  color: var(--color-accent);
  background: transparent;
  border: 1px solid transparent;
  cursor: pointer;
  font-size: 18px;
  display: block;
  position: relative;
  padding: 2px 13px 4px;
  appearance: none;
  text-transform: lowercase;
  line-height: 1;
}

.header__theme-menu-button:hover {
  border: 1px solid var(--hover-button);
}

.header__theme-menu-button_active {
  border: 1px solid currentColor;
  pointer-events: none;
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:focus-visible {
  border-bottom: 1px solid var(--color-focus);
}

.decorated-zone::before,
.decorated-zone::after {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  border: 1px solid var(--color-accent);
}

.decorated-zone::before {
  top: 10px;
  right: 10px;
  border-left: none;
  border-bottom: none;
}

.decorated-zone::after {
  bottom: 10px;
  left: 10px;
  border-right: none;
  border-top: none;
}

.content {
  padding: 40px 10px;
}

.section {
  padding-bottom: 50px;
}

.section__title {
  color: var(--color-accent);
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 20px;
  line-height: 23.4px;
}

.content-link {
  text-decoration: none;
  text-shadow: 2px 2px 0 var(--color-decoration);
}

.content-link:hover {
  border-bottom: 1px solid var(--color-text);
}

.content-link:focus {
  outline: none;
}

.content-link:focus-visible {
  outline: 1px solid var(--color-text);
}

.block-text {
  margin-top: 20px;
}

.block-text__title {
  line-height: var(--line-height);
  font-size: var(--font-size);
  font-weight: 700;
}
.block-text__title_sub {
  line-height: var(--line-height);
  font-size: var(--font-size);
  font-weight: 400;
}

.section__subtitle {
  font-weight: 700;
  font-size: var(--font-size);
  line-height: var(--line-height);
}

.block-text__content {
  margin-top: 10px;
  font-weight: 400;
  letter-spacing: 0;
}

.section-gallery {
  padding-bottom: 0;
}

.gallery {
  display: grid;
  gap: 10px;
}

.gallery__content {
  width: 100%;
  block-size: 100%;
}

.gallery__title {
  color: var(--color-text-sub);
  font-size: var(--font-size);
  font-weight: 700;
  line-height: var(--line-height);
  margin-bottom: 9px;
}

.footer {
  position: relative;
  min-height: 668px;
  display: grid;
  place-items: center;
  block-size: 100vh;
  padding: 10px;
}

.footer__title {
  color: var(--color-title);
  font-size: var(--title-heading);
  font-weight: 700;
  text-shadow: 4px 4px 0 var(--color-shadow);
  line-height: 0.83;
}

@media (width >=768px) {
  .header {
    padding: 20px;
    min-height: 1024px;
  }

  .header__rec {
    top: 20px;
    right: 48px;
  }

  .decorated-zone::before {
    top: 20px;
    right: 20px;
  }

  .decorated-zone::after {
    bottom: 20px;
    left: 20px;
  }

  .header__title {
    margin-left: -20px;
  }

  .header__subtitle {
    width: 50%;
  }

  .content {
    padding: 60px 20px;
  }

  .section {
    padding-bottom: 80px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 20px;
  }

  .section__title {
    margin-bottom: 0;
  }

  .block-text:first-of-type {
    margin-top: 0;
  }

  .block-text__content {
    font-weight: 400;
  }

  .section-tip__title {
    color: var(--color-accent);
    font-size: 18px;
    font-weight: 700;
    align-self: start;
  }

  .section-tip__subtitle {
    background-color: var(--color-accent);
    color: #000000;
    font-weight: 700;
    font-size: 18px;
    display: grid;
  }

  .table-section {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
  }

  .table-title {
    width: 30%;
  }

  .tips-section {
    display: grid;
    grid-template-columns: 1fr 2fr;
  }

  .section__subtitle {
    gap: 20px;
    margin-bottom: 20px;
  }

  .section-gallery {
    display: grid;
    grid-template-columns: 1fr;
    padding-bottom: 0;
  }

  .gallery__title {
    margin-bottom: 0;
  }

  .gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }

  .gallery__content {
    width: 100%;
    height: 100%;
    object-position: center;
    object-fit: cover;
  }

  .sunset {
    grid-column: 1 / 3;
    grid-row: 1 / 3;
  }

  .books {
    grid-row: 3 / 4;
  }

  .tape {
    grid-row: 3 / 5;
  }

  .ice-cream {
    grid-column: 3 / 3;
    grid-row: 1 / 4;
  }

  .street {
    grid-column: 2 / 4;
    grid-row: 4 / 5;
  }

  .footer {
    min-height: 1024px;
    padding: 20px;
  }
}

@media (width >=1024px) {
  .header {
    min-height: 768px;
  }

  .header__theme-menu {
    align-self: start;
    justify-self: center;
  }

  .header__theme-menu-list {
    flex-direction: row;
  }

  .header__subtitle {
    width: 50%;
  }

  .content {
    padding: 60px 20px;
  }

  .section {
    padding-bottom: 80px;
  }

  .section-desktop {
    grid-template-columns: 32% 66%;
  }

  .section__title {
    margin-bottom: 0;
  }

  .table-section .block-text {
    margin-top: 0;
  }

  .section-tip__title {
    align-self: start;
  }

  .table-section {
    gap: 20px;
    margin-top: 0;
    grid-template-columns: none;
  }

  .block-content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }

  .tips-section {
    grid-template-columns: 32% 66%;
  }

  .section-gallery {
    display: grid;
    grid-template-columns: 1fr;
    padding-bottom: 0;
  }

  .footer {
    min-height: 768px;
  }
}
