.page {
  background-color: var(--color-bg);
  color: var(--color-text);
  font-family: var(--font-family);
  font-size: var(--font-size);
  line-height: var(--line-height);
  min-height: 668px;
  min-width: 337px;
}

.header {
  position: relative;
  min-height: 668px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.header__image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: var(--header-image);
  background-size: cover;
  background-position: center;
  z-index: -1;
  opacity: 0.6;
}

.header__decoration {
  position: absolute;
  top: 10px;
  right: 20px;
  color: var(--color-accent);
  font-family: var(--font-family);
  font-size: 16px;
  line-height: 1.3;
  text-transform: uppercase;
}

.header__decoration::after {
  content: '';
  display: inline-block;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: var(--color-accent);
  box-shadow: 0 0 4px 2px var(--color-accent);
  margin-left: 8px;
}

.header__theme-menu {
  position: relative;
  z-index: 10;
  align-self: flex-end;
  margin-top: 40px;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.header__theme-menu-button {
  padding: 3px 10px;
  color: var(--color-accent);
  background: transparent;
  border: 1px solid transparent;
  cursor: pointer;
}

.header__theme-menu-button:hover {
  border-color: var(--color-accent);
}

.header__theme-menu-button_active {
  border-color: var(--color-accent);
  pointer-events: none;
}

.header__title-container {
  margin-top: auto;
  margin-bottom: auto;
}

.header__title {
  color: var(--color-title);
  font-size: clamp(5rem, 10vw, 7rem);
  font-weight: 700;
  text-shadow: 5px 4px 0 var(--color-shadow);
  font-size: 116px;
  line-height: 83%;
}

.header__subtitle {
  font-size: 18px;
  font-weight: 700;
  color: #000000;
  background-color: var(--color-accent);
  margin-top: 40px;
}

.decorated-zone::before,
.decorated-zone::after {
  content: '';
  position: absolute;
  width: 20px;
  height: 20px;
  border: 1px solid var(--color-accent);
}

.decorated-zone::before {
  top: 10px;
  right: 10px;
  border-left: none;
  border-bottom: none;
}

.decorated-zone::after {
  bottom: 10px;
  left: 10px;
  border-right: none;
  border-top: none;
}

.content {
  padding: 10px;
  max-width: 100%;
}

.section__title {
  color: var(--color-accent);
  font-size: 18px;
  font-weight: 700;
  margin-top: 35px;
  padding-top: 15px;
}

.grid-section {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.grid-container {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.grid-article {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.article__title {
  color: #000000;
  font-size: 18px;
  font-weight: 700;
  background-color: var(--color-accent);
  margin: 0;
}

.article__content {
  color: var(--color-text);
  font-size: 18px;
}

.article__content p {
  margin: 0 0 10px 0;
}

.table-container {
  display: flex;
  flex-direction: column;
}

.table-cell {
  padding-bottom: 15px;
}
.table-heading {
  color: #000000;
  font-size: 18px;
  font-weight: 700;
  background-color: var(--color-accent);
  margin-bottom: 15px;
  margin-top: 15px
}

.section-tip__title {
  color: var(--color-accent);
  font-size: 18px;
  font-weight: 700;
  margin-top: 35px;
  
}

.section-tip__subtitle {
  color: #000000;
  font-size: 18px;
  font-weight: 700;
  background-color: var(--color-accent);
  padding: 5px 10px;
  margin-top: 15px;
 
}

.tips-section {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.section__subtitle {
  color: #000000;
  font-size: 18px;
  font-weight: 700;
  background-color: var(--color-accent);
  padding: 5px 10px;
  margin-top: 15px;
 
}

.tip {
  margin-bottom: 30px;
}

.tip__title {
  color: #000000;
  font-size: 18px;
  font-weight: 400;
  background-color: var(--color-accent);
  margin: 0 0 10px 0;
}

.image-option__text {
  background-color: var(--color-accent);
  color: #000000;
  font-family: var(--font-family);
  font-weight: 700;
  line-height: 23.4px;
}

@media (max-width: 375px) {
  .image-option__text {
    font-size: 18px;
  }
}

.gallery {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 20px;
}

.gallery__image {
  width: 100%;
  height: auto;
  display: block;
}
.footer {
  position: relative;
  min-height: 668px;
  display: grid;
  place-items: center;
  padding: 20px;
}

.footer__title {
  color: var(--color-title);
  font-family: var(--font-family);
  font-size: 120px;
  font-weight: 700;
   text-shadow: 2px 2px 0 var(--color-shadow);
}

.footer.decorated-zone::before {
  top: 20px;
  right: 20px;
  border-left: none;
  border-bottom: none;
}

.footer.decorated-zone::after {
  bottom: 20px;
  left: 20px;
  border-right: none;
  border-top: none;
}

@media (max-width: 375px) {
  footer.decorated-zone::before,
  .footer.decorated-zone::after {
    width: 20px;
    height: 20px;
  }
  
  .footer.decorated-zone::before {
    top: 10px;
    right: 10px;
  }
  
  .footer.decorated-zone::after {
    bottom: 10px;
    left: 10px;
  }
}