:root {
  --font-family: 'IBM_Plex_Mono', monospace;
  --font-size: 18px;
  --line-height: 1.3;
  --color-text: #F1B2CE;
  --color-bg: #000028;
  --color-accent: #FF0070;
  --color-title: #DB00FF;
  --color-shadow: #FF0070;
  --bg-image: none;
  --color-bg-secondary: rgba(255, 255, 255, 0.1); 
  --header-image: url('../images/cover-image-dark.png'); 
}

:root.theme-dark {
  --color-bg-secondary: rgba(0, 0, 0, 0.3); 
  --color-text: #F1B2CE;
  --color-title: #DB00FF;
  --color-bg: #000028;
  --color-accent: #FF0070;
  --color-focus: #FF0070;
  --color-shadow: #FF0070;
  --bg-image: url('../images/cover-image-dark.png');
}

:root.theme-light {
  --color-text: #353430;
  --color-title: #FFC2E6;
  --color-bg: #FFF1F7;
  --color-accent: #FF8DCB;
  --color-focus: #353430;
  --header-image: url('../images/cover-image-light.png'); 
  --color-bg-secondary: rgba(255, 255, 255, 0.7); 
}

.page:not(.theme-light):not(.theme-dark) {
  background-color: var(--color-bg);
}
